/* Estilo base */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fdf6ee;
    margin: 0;
    padding: 0;
    color: #4a3f35;
  }
  
  header {
    background-color: #e5d2b6;
    background-image: url('https://i.pinimg.com/736x/2f/b4/60/2fb4603af137cb5006d59dde4d503e6f.jpg'); 
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  h1 {
    margin: 0;
    font-size: 2.2rem;
  }
  

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 2rem;
  }
  

  .tip {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border: 1px solid #e2dcd3;
    border-radius: 12px;
    padding: 1rem;
    width: 480px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  }
  
  /* Texto do card */
  .tip h2 {
    margin-bottom: 0.5rem;
  }
  
  .tip img {
    width: 100px;
    height: auto;
    margin: 0 10px;
    border-radius: 8px;
  }
  
  /* Botão de voltar */
  .botao-esmalte {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #e5d2b6;
    color: #4a3f35;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
  }
  
  .botao-esmalte:hover {
    background-color: #d2bda0;
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #e5d2b6;
    color: #4a3f35;
    margin-top: 2rem;
  }
  